<div class="page-container">
  <div class="container">
    <div class="img-container">
      <img src="../assets/weatherLogo.png" alt="" />
    </div>

    <div class="form-container">
      <form (submit)="getWeatherData(city, code)">
        <div class="form-control">
          <input
            type="text"
            [(ngModel)]="city"
            name="city"
            placeholder="Insert city name"
          />
        </div>
        <div class="form-control">
          <input
            type="text"
            [(ngModel)]="code"
            name="code"
            placeholder="Insert country code"
          />
        </div>
        <div class="button-container">
          <button type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="weatherData">
    <div class="weatherData-containeer">
      <app-weather-card [weatherData]="weatherData"></app-weather-card>
    </div>
  </div>
</div>
